<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    <div class="container">
        {{>usercontent}}
        <div class="user">
            <div class="user-login"> 
                <img src="/public/images/logo.png" alt="">
                <h3>Sign into your account</h3>
                <form action="/home" class="form-control" method="POST">
                    <label for="email">email</label>
                    <input type="email" placeholder="enter email id" id="email" name="email">
                    <label for="password">password</label>
                    <input type="password" placeholder="enter password" id="password" name="password">
                    <a href="">forgot password</a>
                    <input type="submit" value="submit">
                    <p>-----or-----</p>
                    <a href="/registration" class="register">register</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>